
a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}

.social-link{
  padding: 15px 0 0;
  display: flex;
  align-items: center;
}

.fa-instagram{

}

.social-link a{
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #c2e7ff;
  border: 2px solid #c2e7ff;
  color: #001d35;
  border-radius: 10px;
  transition: all .35s ease;
}

.social-link a:hover{
  background: #001d35;
    color: #c2e7ff;
}


